@model IEnumerable<Managing_Employees.Models.Employees>

@{
    ViewBag.Title = "Index";
}

<h2>Сотрудники компании</h2>
@if (TempData["Message"]!=null)
{
    <div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dissmiss="alert">x</button>
    @TempData["Message"].ToString()
    </div>
}

<p>
    @Html.ActionLink("Добавить нового сотрудника", "Create",null,new {@class="btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ФИО","Index",new { SortOrder = (ViewBag.SortOrder==null?"Asc":(ViewBag.SortOrder == "Asc" ? "Desc":"Asc")) , SortBy = "FIO", page = (ViewBag.Page== null ? "1":ViewBag.Page)})
        </th>
        <th>
            @Html.ActionLink("Дата рождения", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "Birthdate", page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
        </th>
        <th>
            @Html.ActionLink("Должность", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "Position", page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
        </th>
        <th>
            @Html.ActionLink("Заработная плата", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "Salary", page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.ActionLink("редактировать", "Edit", new { id=item.ID }, new { @class = "btn btn-primary" }) |
            @Html.Raw("<img src='/images/delete.png' title='Edit' onclick='DeleteEmployee(" + item.ID + ")' />")
        </td>
    </tr>
}

</table>
@{
    double totalPage = @ViewBag.TotalPages;
}
@for (int i = 1; i <= totalPage; i++)
{
  @Ajax.ActionLink(i.ToString()+" ","Index",new { SortOrder =(ViewBag.SortOrder == null ? "Asc": ViewBag.SortOrder), SortBy=(ViewBag.SortBy == null ? "FIO" : ViewBag.SortBy),Page=i }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "pagingсоntent" }, new { @class= "btn btn-success btn-sm" } )
}